body {
  margin: 0;
  font-family: 'Lexend', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  letter-spacing: 0.015em;
}

* {
  font-family: 'Lexend', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lexend', sans-serif !important;
  font-weight: 600;
}

button, a {
  font-family: 'Lexend', sans-serif !important;
  font-weight: 500;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace !important;
}
